# Wandb Environment Variables
# Check out https://docs.wandb.ai/guides/track/environment-variables/ for more
WANDB_MODE= # online / disabled / offline
WANDB_API_KEY= # API Key in case used in online mode
